* {
    background-color: lightblue;
}

body {
    font-family: Copperplate, sans-serif;
}

#main-list,
#main-list a,
#main-list li {
    background-color: darkorchid;
    color: white;
    font-size: 18px;
}

img {
    height: auto;
    width: 400px;
}

#ingredients, 
.ingred-list, 
.ingred-list li {
    background-color: #00087e93;
    color: #ffffff;
}

#ingredients {
    text-align: center;
}

#steps, 
.steps-list, 
.steps-list li, 
.steps-list li em {
    background-color: #4b0082;
    color: #ffffff;
}

#steps {
    text-align: center;
}